//=====================================================================
// STRTABLE.RC
//    String Table Resource File.
//
// Date Created :  07/18/94
// Last Update  :  12/21/95
// Written By   :  Mario E. De Armas
// Compiler Used:  MS Visual C++ 1.52
//
// Copyright IBM Corporation, 1994-1995. All rights reserved.
//
//
// FILE LOG:
// DATE        | ACTION/CHANGE                           | DATAFILEMER
// 07/18/94    | Creation.                               | MDA
//=====================================================================

//-------------------------------------------------------------------------
// STRING TABLES
//-------------------------------------------------------------------------
// NOTE: Each string can have a maximum of 255 characters and must be in one
//       line of the file.

// Basic strings:
STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
   IDSTR_WPSFWIN,                      "Workplace Shell per Windows"
   IDSTR_COPYRIGHT,                    "Copyright IBM Corporation 1994-1996"
END

// Error/Warning strings
STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
   IDSTR_ERR_CAPTION,                  "Errore Workplace Shell"
   IDSTR_ERR_WARN_CAPTION,             "Avvertimento Workplace Shell"
   IDSTR_ERR_CREATE_MSG_QUEUE,         "Non è possibile creare una nuova coda di messaggi."
   IDSTR_ERR_WPSHELL_INI_FILE,         "Il profilo WPSHELL.INI è mancante o corrotto\nControllare che il file sia nella directory \\WINDOWS."
   IDSTR_ERR_RUN,                      "Errore %u:\n%s\n%s"
   IDSTR_ERR_OBJEXEC,                  "Errore %u:\n\x22%s\x22\n%s\n%s"
   IDSTR_ERR_SAVE_DSKTOP_CAPTION,      "Salva la scrivania"
   IDSTR_ERR_SAVE_DSKTOP,              "Errore salvando la scrivania Workplace Shell."
   IDSTR_ERR_FIND_FOLDER_CAPTION,      "Cerca Cartella"
   IDSTR_ERR_SYSSETUP_NOT_FOUND,       "La cartella di Inizializzaaione Sistema non è stata trovata."
   IDSTR_ERR_TOO_MANY_OBJECTS,         "Errore: Troppi oggetti nella cartella."
   IDSTR_ERR_NO_MORE_SHADOWS,          "Errore: Non è possibile creare la copia collegata."
   IDSTR_ERR_CANNOT_RUN_INSTALL        "Errore: Non è possibile eseguire il programma 'setup.exe' o 'install.exe'."
END

// Message boxes strings
STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
   IDSTR_SHUTDOWN_CAPTION,             "Chiudi Windows"
   IDSTR_SAVE_DESKTOP_QUESTION,        "Slavare l'attuale configurazione di scrivania?"
END

// Confirmation strings
STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
   // default object
   IDSTR_OBJ_CONFIRM_ON_DELETE_CAPTION,"Conferma per cancellazione"
   IDSTR_OBJ_CONFIRM_ON_DELETE,        "Sei sicuro di voler cancellare %s?"
   IDSTR_OBJ_CONFIRM_ON_FILESYS_DELETE,"il file %s sarà cancellato dal disco. Sei sicuro di volerlo cancellare?"
   // folder
   IDSTR_FOL_CONFIRM_ON_DELETE_CAPTION,"Conferma per cancellazione cartella"
   IDSTR_FOL_CONFIRM_ON_DELETE,        "%s è una cartella.  Sei sicuro di volerla cancellare con tutto il suo contenuto?  Seleziona Si per continuare.  Seleziona No per finire questa operazione."
   IDSTR_FOL_CONFIRM_ON_FILESYS_DELETE,"%s è una directory.  Sei sicuro di volerla cancellare con tutto il suo contenuto?  Seleziona Si per continuare.  Seleziona No per finire questa operazione."
END

// Folder object view strings.
STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
   // View caption title strings:
   IDSTR_VIEW_ICON,                    "Icona"
   IDSTR_VIEW_TREE,                    "Albero"
   IDSTR_VIEW_DETAILS,                 "Dettagli"
   IDSTR_VIEW_CAPTION_TITLE,           "%s - %s Vista"
   // Details view column names:
   IDSTR_DETAILS_ICON_COLUMN,          "Icona"
   IDSTR_DETAILS_TITLE_COLUMN,         "Titolo"
   IDSTR_DETAILS_NAME_COLUMN,          "Nome"
   IDSTR_DETAILS_SIZE_COLUMN,          "Dimensione"
   IDSTR_DETAILS_DATE_COLUMN,          "Data"
   IDSTR_DETAILS_TIME_COLUMN,          "Ora"
END

// Menu Item Strings
STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
   IDSTR_SHADOWMENU_ORIGINAL,           "Originale"
   IDSTR_SHADOWMENU_ORIGINAL_LOCATE,    "&Localizza"
   IDSTR_SHADOWMENU_ORIGINAL_COPY,      "&Copia"
   IDSTR_SHADOWMENU_ORIGINAL_DELETE,    "&Elimina"
   IDSTR_DRIVEMENU_INSTALL,             "&Installa"
END

// Windows "SYSTEM.INI" profile value and section/entry strings names.
STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
   //  NOTE: DO NOT TRANSLATE THE STRINGS IN THIS TABLE!
   // Values.
   IDSTR_YES,                          "Yes"
   IDSTR_NO,                           "No"
   IDSTR_HIDE,                         "Hide"
   IDSTR_MINIMIZE,                     "Minimize"
   IDSTR_ENABLED,                      "Enabled"
   IDSTR_DISABLED,                     "Disabled"
   IDSTR_MINTOVIEWER,                  "MinToViewer"
   IDSTR_MINTODESKTOP,                 "MinToDesktop"
   IDSTR_CREATENEW,                    "CreateNew"
   IDSTR_DISPLAYEXISTING,              "DisplayExisting"
   IDSTR_SYSTEMSETUP,                  "System Setup"
   IDSTR_NEVER,                        "Never"
   IDSTR_SUBFOLDERS_ONLY,              "SubfoldersOnly"
   IDSTR_ALL_OBJECTS,                  "AllObjects"
   // Names.
   IDSTR_WIN_SYSTEM_PROFILE,           "SYSTEM.INI"
   IDSTR_WPSFWIN_SECTION_NAME,         "Workplace_Shell_for_Windows"
   IDSTR_DESKTOP_HORZICONINDENT,       "DESKTOP_HorzIconIndent"
   IDSTR_DESKTOP_VERTICONINDENT,       "DESKTOP_VertIconIndent"
   IDSTR_SYSTEM_CONFIRMFOLDERDELETE,   "SYSTEM_ConfirmOnFolderDelete"
   IDSTR_SYSTEM_CONFIRMDELETE,         "SYSTEM_ConfirmOnDelete"
   IDSTR_SYSTEM_CONFIRMFILEDELETE,     "SYSTEM_ConfirmOnFileSystemDelete"
   IDSTR_SYSTEM_BUTTONAPPEARANCE,      "SYSTEM_ButtonAppearance"
   IDSTR_SYSTEM_ANIMATION,             "SYSTEM_Animation"
   IDSTR_SYSTEM_MINBEHAVIOR,           "SYSTEM_MinBehavior"
   IDSTR_SYSTEM_OPENBEHAVIOR,          "SYSTEM_OpenBehavior"
   IDSTR_SYSTEM_SYSTEMSETUPFOLDERNAME, "SYSTEM_SystemSetupFolderName"
   IDSTR_SYSTEM_NOSAVE,                "SYSTEM_NoSave"
   IDSTR_SYSTEM_FOLDERAUTOMATICCLOSE,  "SYSTEM_FolderAutomaticClose"
   IDSTR_COLOR_SHADOWTEXT,             "COLOR_ShadowText"
END

// Miscellaneous
STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
   IDSTR_SHELL_FILENAME,               "WPSHELL.EXE"    // DO NOT TRANSLATE!
   IDSTR_DESKTOP_FILENAME,             "WPSHELL.INI"    // DO NOT TRANSLATE!
   IDSTR_HELP_FILENAME,                "WPSHELL.HLP"    // DO NOT TRANSLATE!
   IDSTR_WIN_VERSION_MESSAGE,          "La versione di Windows non è supportata.\nStai utilizzando Windows %u.%u,\ne hai bisogno di Windows 3.1 or above."
   IDSTR_NONE_PARENTHESIS,             "(None)"
   IDSTR_IMAGE_NONE,                   "(none)"
   IDSTR_FILEDLG_TITLE_RUN,            "Esegui"
   IDSTR_FILEDLG_TITLE_BROWSE,         "Mostra"
   IDSTR_FILEDLG_TITLE_FIND_PROGRAM,   "Cerca Programma"
   IDSTR_FILEDLG_TITLE_FIND_DATAFILE,  "Cerca File di Dati"
   // "Copy", "Move", and "Create another" dialog strings.
   IDSTR_CMCDLG_TITLE_COPY,            "Copia"
   IDSTR_CMCDLG_TITLE_MOVE,            "Muovi"
   IDSTR_CMCDLG_TITLE_CREATEANOTHER,   "Crea un'altra"
   IDSTR_CMCDLG_TITLE_CREATESHADOW,    "Crea Copia Collegata"
   IDSTR_CMCDLG_PUSHBUTTON_COPY,       "&Copia"
   IDSTR_CMCDLG_PUSHBUTTON_MOVE,       "&Muovi"
   IDSTR_CMCDLG_PUSHBUTTON_CREATE,     "&Crea"
   IDSTR_CMCDLG_PUSHBUTTON_SHADOW,     "&Copia Collegata"
   // "Find Results" dialog caption title.
   IDSTR_FINDRESULTS_CAPTION           "%s - %d Oggetto(i) Trovato(i)"
END

// Settings notebook page tab titles.
STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
   IDSTR_SETTNB_DEFAULT_TITLE,         "Impostazioni"
   IDSTR_SETTNB_TITLE,                 "%s - Impostazioni"
   IDSTR_SETTNB_STATUSTEXT,            "Pagina %d di %d"
   IDSTR_SETTNB_PAGE_GENERAL,          "&Generale"
   IDSTR_SETTNB_PAGE_VIEW,             "&Vista"
   IDSTR_SETTNB_PAGE_BACKGROUND,       "&Sfondo"
   IDSTR_SETTNB_PAGE_WINDOW,           "&Finestra"
   IDSTR_SETTNB_PAGE_PROGRAM,          "&Programma"
   IDSTR_SETTNB_PAGE_ASSOCIATION,      "&Associazione"
   IDSTR_SETTNB_PAGE_TYPE,             "&Tipo"
   IDSTR_SETTNB_PAGE_FILE,             "&File"
   IDSTR_SETTNB_PAGE_LOCKUP,           "&Blocco"
   IDSTR_SETTNB_PAGE_DESKTOP,          "&Scrivania"
   IDSTR_SETTNB_PAGE_CONFIRMATION,     "&Conferma"
   IDSTR_SETTNB_PAGE_DRIVE,            "&Disco"
   IDSTR_SETTNB_PAGE_CREDITS,          "&Crediti"
END

// Default object titles.
STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
   IDSTR_OBJTITLE_GENERIC,             "Oggetto"
   IDSTR_OBJTITLE_FOLDER,              "Cartella"
   IDSTR_OBJTITLE_PROGRAM,             "Programma"
   IDSTR_OBJTITLE_DATAFILE,            "File di Dati"
   IDSTR_OBJTITLE_SHREDDER,            "Trinciatrice"
   IDSTR_OBJTITLE_SYSTEM,              "Sistema"
   IDSTR_OBJTITLE_DESKTOP,             "Scrivania"
   IDSTR_OBJTITLE_DRIVE,               "Disco"
END

// Drive types.
STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
   IDSTR_DRIVETYPE_UNKNOWN,            "Sconosciuto"
   IDSTR_DRIVETYPE_FLOPPY,             "Floppy"
   IDSTR_DRIVETYPE_HARD,               "Disco Fisso"
   IDSTR_DRIVETYPE_NETWORK,            "Disco di rete"
   IDSTR_DRIVETYPE_CDROM,              "Disco CD-ROM"
   IDSTR_DRIVETYPE_RAMDISK,            "Disco RAM"
END

// EOF STRTABLE.RC

