//=====================================================================
// WPSHELL.RC
//    WPSHELL's Windows 3.1 resource file.
//
// Date Created :  01/26/94
// Last Update  :  03/08/95
// Written By   :  Mario E. De Armas
// Compiler Used:  MS Visual C++ 1.5
//
// Copyright IBM Corporation, 1994-1995. All rights reserved.
//
//
// FILE LOG:
// DATE        | ACTION/CHANGE                           | PROGRAMMER
// 01/26/94    | Creation.                               | MDA
//=====================================================================


//---------------------------------------------------------------------
// HEADER FILES
//---------------------------------------------------------------------
// Windows library header files.
#include <windows.h>
#include <ver.h>
// Workplace Shell resource ID's header file.
#include "resource.h"


//-----------------------------------------------------------------------------
// LOCAL CONSTANTS
//-----------------------------------------------------------------------------
// String constants used for version information and "Product Information" dialog.
#define VER_STR_PRODUCTNAME      "Workplace Shell for Windows\0"

//-----------------------------------------------------------------------------
// VERSION INFORMATION
//-----------------------------------------------------------------------------
VS_VERSION_INFO VERSIONINFO
   FILEVERSION     1,0,0,0
   PRODUCTVERSION  VER_MAJOR,VER_MINOR,0,0
   FILEFLAGSMASK   0
   FILEFLAGS       0
   FILEOS          VOS_DOS_WINDOWS16

   FILETYPE        VFT_APP
   FILESUBTYPE     VFT_APP

   BEGIN
      BLOCK "StringFileInfo"
      BEGIN
         BLOCK "040904E4"
         BEGIN
            VALUE "CompanyName"        , "IBM Corporation\0"
            VALUE "FileDescription"    , "Windows 3.1 Shell Replacement Program\0"
            VALUE "FileVersion"        , "1.0.0\0"
            VALUE "InternalName"       , "Workplace Shell\0"
            VALUE "LegalCopyright"     , VER_STR_PRODUCTCOPYRIGHT
            VALUE "ProductName"        , VER_STR_PRODUCTNAME
            VALUE "OriginalFileName"   , "WPSHELL.EXE\0"
            VALUE "ProductVersion"     , VER_STR_PRODUCTVERSION
         END
      END

      BLOCK "VarFileInfo"
      BEGIN
         VALUE "Translation", 0x0409, 1252
      END
   END


//-----------------------------------------------------------------------------
// ACCELERATOR TABLES
//-----------------------------------------------------------------------------
IDA_WPSHELL ACCELERATORS
{
   "K"       , ID_EVENT_SPECIAL      , VIRTKEY , NOINVERT , CONTROL, ALT, SHIFT
   VK_TAB    , ID_EVENT_PREVIOUS     , VIRTKEY , NOINVERT , SHIFT
   VK_LEFT   , ID_EVENT_LEFT         , VIRTKEY , NOINVERT
   VK_TAB    , ID_EVENT_NEXT         , VIRTKEY , NOINVERT
   VK_RIGHT  , ID_EVENT_RIGHT        , VIRTKEY , NOINVERT
   VK_UP     , ID_EVENT_UP           , VIRTKEY , NOINVERT
   VK_DOWN   , ID_EVENT_DOWN         , VIRTKEY , NOINVERT
   VK_NEXT   , ID_EVENT_PAGEDOWN     , VIRTKEY , NOINVERT
   VK_PRIOR  , ID_EVENT_PAGEUP       , VIRTKEY , NOINVERT
   VK_RETURN , ID_EVENT_OPEN         , VIRTKEY , NOINVERT
   VK_RETURN , ID_EVENT_SETTINGS     , VIRTKEY , NOINVERT , ALT
   VK_DELETE , ID_EVENT_DELETE       , VIRTKEY , NOINVERT
   VK_F1     , ID_EVENT_HELP         , VIRTKEY , NOINVERT
   VK_F1     , ID_EVENT_HELP         , VIRTKEY , NOINVERT , CONTROL
   "^S"      , ID_EVENT_SELECTALL    , NOINVERT
   "^D"      , ID_EVENT_DESELECTALL  , NOINVERT
   VK_ESCAPE , ID_EVENT_DESELECTALL  , VIRTKEY , NOINVERT
   VK_F10    , ID_EVENT_DESKTOP_POPUP, VIRTKEY , NOINVERT, SHIFT
}


//-----------------------------------------------------------------------------
// ICONS
//-----------------------------------------------------------------------------
// Windows 3.1 system icon.
IDI_WINSYS              ICON    DISCARDABLE     ICONS\SYSTEM\WPSFWIN.ICO
IDI_DESKTOP             ICON    DISCARDABLE     ICONS\SYSTEM\DESKTOP.ICO
IDI_MINVIEWER           ICON    DISCARDABLE     ICONS\SYSTEM\MINVIEW.ICO
// Default object icons.
IDI_DEFAULTOBJECT       ICON    DISCARDABLE     ICONS\DEFAULTS\OBJECT.ICO
IDI_DEFAULTDATA         ICON    DISCARDABLE     ICONS\DEFAULTS\DATA.ICO
IDI_DEFAULTPROGRAM      ICON    DISCARDABLE     ICONS\DEFAULTS\PROGRAM.ICO
IDI_DEFAULTFOLDER       ICON    DISCARDABLE     ICONS\DEFAULTS\FOLDER.ICO
IDI_DEFAULTSHREDDER     ICON    DISCARDABLE     ICONS\DEFAULTS\SHREDDER.ICO
// Template folder and object icons.
IDI_TEMPLATE_FOLDER     ICON    DISCARDABLE     ICONS\TEMPLATE\TEMPLATE.ICO
IDI_GENERICTEMPLATE     ICON    DISCARDABLE     ICONS\TEMPLATE\TMPOBJ.ICO
IDI_PROGTEMPLATE        ICON    DISCARDABLE     ICONS\TEMPLATE\TMPPROG.ICO
IDI_FOLDERTEMPLATE      ICON    DISCARDABLE     ICONS\TEMPLATE\TMPFLDER.ICO
IDI_DATATEMPLATE        ICON    DISCARDABLE     ICONS\TEMPLATE\TMPDATA.ICO
IDI_SHREDDERTEMPLATE    ICON    DISCARDABLE     ICONS\TEMPLATE\TMPSHRDR.ICO
// Drives icons.
IDI_DRIVES_FOLDER       ICON    DISCARDABLE     ICONS\DRIVES\DRIVES.ICO
IDI_FLOPPYDRIVE         ICON    DISCARDABLE     ICONS\DRIVES\FLOPPY.ICO
IDI_HARDDRIVE           ICON    DISCARDABLE     ICONS\DRIVES\HDRIVE.ICO

// Setup folder objects.
IDI_SYSTEMSETUP         ICON    DISCARDABLE     ICONS\SETUP\SYSSETUP.ICO
IDI_SYSTEM              ICON    DISCARDABLE     ICONS\SETUP\SYSTEM.ICO
IDI_MOUSE               ICON    DISCARDABLE     ICONS\SETUP\MOUSE.ICO
IDI_COUNTRY             ICON    DISCARDABLE     ICONS\SETUP\COUNTRY.ICO
IDI_KEYBOARD            ICON    DISCARDABLE     ICONS\SETUP\KEYBOARD.ICO
IDI_SOUND               ICON    DISCARDABLE     ICONS\SETUP\SOUND.ICO
IDI_SELECTIVEINSTALL    ICON    DISCARDABLE     ICONS\SETUP\INSTALL.ICO
IDI_COLORPALETTE        ICON    DISCARDABLE     ICONS\SETUP\COLORSCH.ICO
IDI_FONTPALETTE         ICON    DISCARDABLE     ICONS\SETUP\FONTPAL.ICO

// Miscellaneous icons:
// Windows PROGMAN migration folder.
IDI_PROGMANFOLDER       ICON    DISCARDABLE     ICONS\MISC\MIGRATE\PMFOLDER.ICO
// Misc. desktop objects (OS/2 2.x icons)
IDI_OS2SYS              ICON    DISCARDABLE     ICONS\MISC\OS2OBJ\OS2SYS.ICO
IDI_GENERAL             ICON    DISCARDABLE     ICONS\MISC\OS2OBJ\GENERAL.ICO
IDI_HELP                ICON    DISCARDABLE     ICONS\MISC\OS2OBJ\HELP.ICO
IDI_INFO                ICON    DISCARDABLE     ICONS\MISC\OS2OBJ\INFO.ICO
IDI_STARTUP             ICON    DISCARDABLE     ICONS\MISC\OS2OBJ\STARTUP.ICO
IDI_TUTORIAL            ICON    DISCARDABLE     ICONS\MISC\OS2OBJ\TUTORIAL.ICO
// Misc. multimedia.
IDI_MULTIMEDIAFOLDER    ICON    DISCARDABLE     ICONS\MISC\MMEDIA\MMPM2.ICO
IDI_CDPLAYER            ICON    DISCARDABLE     ICONS\MISC\MMEDIA\CDPLAYER.ICO
IDI_DIGITALVIDEO        ICON    DISCARDABLE     ICONS\MISC\MMEDIA\DIGVIDEO.ICO
// Misc. DOS sessions.
IDI_DOSFULLSCREEN       ICON    DISCARDABLE     ICONS\MISC\DOS\DOSFULL.ICO
IDI_DOSWINDOW           ICON    DISCARDABLE     ICONS\MISC\DOS\DOSWIN.ICO

// Templates #2
IDI_DRIVETEMPLATE       ICON    DISCARDABLE     ICONS\TEMPLATE\TMPDRIVE.ICO
// Drives #2
IDI_CDROM_DRIVE         ICON    DISCARDABLE     ICONS\DRIVES\CDROM.ICO
IDI_NETWORK_DRIVE       ICON    DISCARDABLE     ICONS\DRIVES\NETDRIVE.ICO
IDI_RAM_DRIVE           ICON    DISCARDABLE     ICONS\DRIVES\RAMDRIVE.ICO
// Misc. multimedia icons #2
IDI_MIDI_FILE           ICON    DISCARDABLE     ICONS\MISC\MMEDIA\MIDIDATA.ICO
IDI_AUDIO_FILE          ICON    DISCARDABLE     ICONS\MISC\MMEDIA\AUDDATA.ICO

// Icons used in Workplace Shell cursor creation.
IDI_NOSIGN              ICON    DISCARDABLE     ICONS\CURSOR\NOSIGN.ICO
IDI_COPYGRID            ICON    DISCARDABLE     ICONS\CURSOR\COPYGRID.ICO
IDI_SHADOWCIRCLE        ICON    DISCARDABLE     ICONS\CURSOR\SHADOW.ICO
// Non-client area window effects.
IDI_BUTTON_EFFECT       ICON    DISCARDABLE     ICONS\NCWINDOW\BUTTON.ICO


//-----------------------------------------------------------------------------
// CURSORS
//-----------------------------------------------------------------------------
IDC_WAITCURSOR            CURSOR   DISCARDABLE    CURSORS\WAIT.CUR


//-----------------------------------------------------------------------------
// BITMAPS
//-----------------------------------------------------------------------------

// Minimize/Maximize Window Buttons Bitmaps

// High-Resolution (1024x768).
// Style 1.
IDB_HIRES_1_MINMAX_UP   BITMAP  DISCARDABLE     BITMAPS\MINMAX\HI_1BU_N.BMP
IDB_HIRES_1_MIN_DOWN    BITMAP  DISCARDABLE     BITMAPS\MINMAX\HI_1MN_N.BMP
IDB_HIRES_1_MAX_DOWN    BITMAP  DISCARDABLE     BITMAPS\MINMAX\HI_1MX_N.BMP
IDB_HIRES_1_X_MINMAX_UP BITMAP  DISCARDABLE     BITMAPS\MINMAX\HI_1BU_X.BMP
IDB_HIRES_1_X_MIN_DOWN  BITMAP  DISCARDABLE     BITMAPS\MINMAX\HI_1MN_X.BMP
IDB_HIRES_1_X_MAX_DOWN  BITMAP  DISCARDABLE     BITMAPS\MINMAX\HI_1MX_X.BMP
// Style 2.
IDB_HIRES_2_MINMAX_UP   BITMAP  DISCARDABLE     BITMAPS\MINMAX\HI_2BU_N.BMP
IDB_HIRES_2_MIN_DOWN    BITMAP  DISCARDABLE     BITMAPS\MINMAX\HI_2MN_N.BMP
IDB_HIRES_2_MAX_DOWN    BITMAP  DISCARDABLE     BITMAPS\MINMAX\HI_2MX_N.BMP
IDB_HIRES_2_X_MINMAX_UP BITMAP  DISCARDABLE     BITMAPS\MINMAX\HI_2BU_X.BMP
IDB_HIRES_2_X_MIN_DOWN  BITMAP  DISCARDABLE     BITMAPS\MINMAX\HI_2MN_X.BMP
IDB_HIRES_2_X_MAX_DOWN  BITMAP  DISCARDABLE     BITMAPS\MINMAX\HI_2MX_X.BMP

// Low-Resolution (640x480 and 800x600).
// Style 1.
IDB_LORES_1_MINMAX_UP   BITMAP  DISCARDABLE     BITMAPS\MINMAX\LO_1BU_N.BMP
IDB_LORES_1_MIN_DOWN    BITMAP  DISCARDABLE     BITMAPS\MINMAX\LO_1MN_N.BMP
IDB_LORES_1_MAX_DOWN    BITMAP  DISCARDABLE     BITMAPS\MINMAX\LO_1MX_N.BMP
IDB_LORES_1_X_MINMAX_UP BITMAP  DISCARDABLE     BITMAPS\MINMAX\LO_1BU_X.BMP
IDB_LORES_1_X_MIN_DOWN  BITMAP  DISCARDABLE     BITMAPS\MINMAX\LO_1MN_X.BMP
IDB_LORES_1_X_MAX_DOWN  BITMAP  DISCARDABLE     BITMAPS\MINMAX\LO_1MX_X.BMP
// Style 2.
IDB_LORES_2_MINMAX_UP   BITMAP  DISCARDABLE     BITMAPS\MINMAX\LO_2BU_N.BMP
IDB_LORES_2_MIN_DOWN    BITMAP  DISCARDABLE     BITMAPS\MINMAX\LO_2MN_N.BMP
IDB_LORES_2_MAX_DOWN    BITMAP  DISCARDABLE     BITMAPS\MINMAX\LO_2MX_N.BMP
IDB_LORES_2_X_MINMAX_UP BITMAP  DISCARDABLE     BITMAPS\MINMAX\LO_2BU_X.BMP
IDB_LORES_2_X_MIN_DOWN  BITMAP  DISCARDABLE     BITMAPS\MINMAX\LO_2MN_X.BMP
IDB_LORES_2_X_MAX_DOWN  BITMAP  DISCARDABLE     BITMAPS\MINMAX\LO_2MX_X.BMP


// Scrollbars Components Bitmaps

// High-Resolution (1024x768)
IDB_HIRES_SB_THUMB      BITMAP  DISCARDABLE     BITMAPS\SCROLLBR\HR_STBUP.BMP
IDB_HIRES_SB_THUMB_PUSH BITMAP  DISCARDABLE     BITMAPS\SCROLLBR\HR_STBDN.BMP
IDB_HIRES_SB_LEFT       BITMAP  DISCARDABLE     BITMAPS\SCROLLBR\HR_SLAUP.BMP
IDB_HIRES_SB_RIGHT      BITMAP  DISCARDABLE     BITMAPS\SCROLLBR\HR_SRAUP.BMP
IDB_HIRES_SB_LEFT_PUSH  BITMAP  DISCARDABLE     BITMAPS\SCROLLBR\HR_SLADN.BMP
IDB_HIRES_SB_RIGHT_PUSH BITMAP  DISCARDABLE     BITMAPS\SCROLLBR\HR_SRADN.BMP
IDB_HIRES_SB_UP         BITMAP  DISCARDABLE     BITMAPS\SCROLLBR\HR_SUAUP.BMP
IDB_HIRES_SB_DOWN       BITMAP  DISCARDABLE     BITMAPS\SCROLLBR\HR_SDAUP.BMP
IDB_HIRES_SB_UP_PUSH    BITMAP  DISCARDABLE     BITMAPS\SCROLLBR\HR_SUADN.BMP
IDB_HIRES_SB_DOWN_PUSH  BITMAP  DISCARDABLE     BITMAPS\SCROLLBR\HR_SDADN.BMP

// Low-Resolution (640x480 and 800x600).
IDB_LORES_SB_THUMB      BITMAP  DISCARDABLE     BITMAPS\SCROLLBR\LR_STBUP.BMP
IDB_LORES_SB_THUMB_PUSH BITMAP  DISCARDABLE     BITMAPS\SCROLLBR\LR_STBDN.BMP
IDB_LORES_SB_LEFT       BITMAP  DISCARDABLE     BITMAPS\SCROLLBR\LR_SLAUP.BMP
IDB_LORES_SB_RIGHT      BITMAP  DISCARDABLE     BITMAPS\SCROLLBR\LR_SRAUP.BMP
IDB_LORES_SB_LEFT_PUSH  BITMAP  DISCARDABLE     BITMAPS\SCROLLBR\LR_SLADN.BMP
IDB_LORES_SB_RIGHT_PUSH BITMAP  DISCARDABLE     BITMAPS\SCROLLBR\LR_SRADN.BMP
IDB_LORES_SB_UP         BITMAP  DISCARDABLE     BITMAPS\SCROLLBR\LR_SUAUP.BMP
IDB_LORES_SB_DOWN       BITMAP  DISCARDABLE     BITMAPS\SCROLLBR\LR_SDAUP.BMP
IDB_LORES_SB_UP_PUSH    BITMAP  DISCARDABLE     BITMAPS\SCROLLBR\LR_SUADN.BMP
IDB_LORES_SB_DOWN_PUSH  BITMAP  DISCARDABLE     BITMAPS\SCROLLBR\LR_SDADN.BMP


// EOF WPSHELL.RC

